<messagesForms></messagesForms>

<h2>
  List of messages!
</h2>
<ul class = "list-group">
  <li class = "list-group-item" *ngFor = "let key of messagesKeys">{{'message number '+key+' '+messages[key].body}}
</li>
</ul>